<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
            width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="" routerLinkActive="router-link-active" >Login</a>
        </li>
        
    </ul>
</nav>